{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add a character {% endblock %}</h1>

            <form method="POST">

                <label for="name">Character Name</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Name of character" id="name" name="name">
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Description</label>
                    <input class="form-control" type="text" placeholder="description" id="desc" name="desc">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Race</label>
                    <input class="form-control " type="text" placeholder="Race" id="race" name="race">
                </div>

                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Submit</button>

            </form>
{% endblock %}