{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Glass Force {% endblock %}</h1>

    {% if pcs %}
    <h3>Player characters:</h3>
    {% endif %}
    <div class="row">
        {% for pc in pcs %}

            <div class="card" style="width: 18rem;">
                <img src="/static/assets/pixel_{{ pc.name }}.png" class="card-img-top" alt="{{ pc.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pc.name }}</h5>
                    <p class="card-text">{{ pc.desc }}</p>
                    <a href="{{ url_for('view_character', pc_id='{{ pc.name }}') }}" class="btn btn-primary">See info</a>
                </div>
            </div>

        {% endfor %}
    </div>

    <br>
    {% if locations  %}
    <h3>Locations:</h3>
        {% for loc in locations %}
            <a href="{{ url_for('location', loc_id=loc['id']) }}">
                <h2>{{ loc['name'] }}</h2>
            </a>
            <span class="badge badge-primary">{{ loc['timestamp'] }}</span>
    {#        <a href="{{ url_for('edit_character', id=loc['id']) }}">#}
    {#            <span class="badge badge=warning">Edit</span>#}
    {#        </a>#}
    {#        <hr>#}
        {% endfor %}
    {% endif %}
{% endblock %}